.heading {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1.8em;
    padding: 0 6em
}
.heading h2 {
    font-size: 1.625rem;
    margin: 0;
    text-transform: uppercase
}
#container.meals {
    border-radius: 15px;
    padding: 4em 0;
    -webkit-box-shadow:inset 0px 0px 0px 1px var(--light-clr);
    -moz-box-shadow:inset 0px 0px 0px 1px var(--light-clr);
    box-shadow:inset 0px 0px 0px 1px var(--light-clr);
    background: white;
    min-height: 80%;
    height: max-content;
    transform: translateY(150px);
    opacity: 0;
}
.meals .split {padding: 0 6em}
.split-vertically + .split-vertically {margin-left: 1em}

@media only screen and (max-width: 1000px) {
    .meals .split {padding: 0 3em}
    .heading  {padding: 0 3em}
}
@media only screen and (max-width: 850px) {
    .meals .split {flex-direction: column}
    .heading h2 {margin: 0 0 1em}
    .split-vertically + .split-vertically {margin: 1.5em 0 0}
    #container.meals {
        margin: 2em auto;
        padding: 3em 0
    }
    .heading  {
        display: block;
        text-align: center
    }
}